<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("3-slim.png", :width => 150, class:"imager2"), quests_path %>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <li>
          <a href="<%= quests_path %>">Ongoing Quests</a>
      </li>
      <li>
          <a href="<%= completedduke_quest_path(current_duke) %>">Completed Quests</a>
      </li>
      <li class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="optionsbutton" data-toggle="dropdown">Options <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation", id:"options"><%= link_to 'Edit Profile',edit_duke_registration_path, id:"options" %></li>
          <li role="presentation" class="divider", id:"options"></li>
          <li role="presentation", id:"options"><%= link_to "Sign out", destroy_duke_session_path, method: :delete, id:"options" %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-8">
    <% if @quest.is_proposalsent == true && @quest.is_proposalaccepted == false %>
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-6">
            <h1>Your Proposal:</h1>
            <h2>The Quest:</h2>
            <img src="<%= @quest.imagesrc %>" class="preview">
          </div>
          <div class="col-md-6">
            <h3>What your Squire is buying for you: </h3>
            <hr>
            <% @items.each do |item| %>
              <div class="row">
                <div class="row">
                  <h4><%= item.name %></h4>
                </div>
                <div class="row">
                  <strong>Price: </strong><%= number_to_currency(item.price) %> X <strong>Quantity: </strong><%= item.quantity %> = <%= number_to_currency(item.price * item.quantity) %>
                </div>
                <div class="row">
                  <strong>Brand: </strong><%= item.brand %> <strong>Size: </strong><%= item.size %>
                </div>
                <div class="row">
                  <%= item.daystoship %> Days to Ship
                </div>
              </div>
              <hr>
            <% end %>
            <h3>Total Price: <%= number_to_currency(@quest.totalprice) %></h3>
            <p>Click the button below to accept the proposal and pay for your Quest.</p>
            <% if @duke.customertoken == nil %>
              <%= form_tag paybill_quest_path(@quest) do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key= "<%= ENV['stripe_publishable_key'] %>"
                        data-description="A Completed Quest"
                        data-amount="<%= @quest.totalprice * 100 %>">
                </script>
              <% end %>
            <% else %>
              <%= button_to "Submit Payment", paycharge_quest_path(@quest), :method => "get", class:"btn btn-primary" %>
            <% end %>
            <h4>Would you like the squire to make a revision to the proposal?</h4>
            <%= form_for @quest, url: revision_quest_path(@quest) do |form| %>
              <p><%= form.label "Enter revision below:" %></p>
              <p><%= form.text_area :revision, autocomplete: "off", class:"form-control", rows:"4", id:"comment" %></p>
              <p><%= form.submit "Send", class:"btn btn-warning" %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="well well-sm">
        <h1>Messages with your Squire:</h1>
        <% @messages.each do |message| %>
          <% if message.sentby == 2 %>
            <h3><strong>From You: </strong><%= message.body %></h3><br />
          <% elsif message.sentby == 1 %>
            <h3 class="text-right"><strong>From Squire: </strong><%= message.body %></h3><br />
          <% else %>
            <%= "this shouldn't happen" %><br />
          <% end %>
        <% end %>

        <h3>Send the Squire a Message:</h3>
        <%= form_for @message do |form| %>
          <%= form.label "Enter message below:" %>
          <%= form.text_area :body, autocomplete: "off", class:"form-control", rows:"5", id:"comment" %>
          <%= form.hidden_field :squire_id, value: @quest.squire_id %>
          <%= form.hidden_field :duke_id, value: @quest.duke_id %>
          <%= form.hidden_field :quest_id, value: @quest.id %>
          <%= form.hidden_field :sentby, value: 2 %>
          <p><%= form.submit "Send", class:'btn btn-primary' %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm">
      <% if @user != nil %>
        <h2>About your Squire</h2>
        <%= link_to image_tag(@user.profilepic, width:200), image_path(@user.profilepic) if @user.profilepic.present? %>
        <h4>Name: <%= @user.firstname %> <%= @user.lastname %></h4>
        <h4>Description: <%= @user.description %></h4>
        <p>Question 1: Why did you sign up for Squire?</p>
        <strong><%= @user.question1 %></strong>
        <br />
        <p>Question 2: How do you participate in your community?</p>
        <strong><%= @user.question2 %></strong>
        <br />
        <p>Question 3: What's something interesting about you?</p>
        <strong><%= @user.question3 %></strong>
        <br />
        <h3>Reviews of this Squire:</h3>
        <% @reviews.each do |review| %>
          <p>Rating: <%= review.rating %></p>
          <p><%= review.explanation %></p>
        <% end %>
        <% if @reviews.count < 3 %>
          <% extra = 3 - @reviews.count %>
          <% while extra > 0 do %>
            <div class="row standard">
            </div>
            <hr>
            <% extra = extra-1 %>
          <% end %>
        <% end %>
      <% else %>
        <h2>Waiting to find Squire</h2>
        <%= image_tag("blankprofilepic.jpg", width:200) %>
        <h4>Name: </h4>
        <h4>Description: </h4>
        <p>Question 1: Why did you sign up for Squire?</p>
        <strong></strong>
        <br />
        <p>Question 2: How do you participate in your community?</p>
        <strong></strong>
        <br />
        <p>Question 3: What's something interesting about you?</p>
        <strong></strong>
        <br />
        <h3>Reviews of this Squire:</h3>
        <% @reviews.each do |review| %>
          <p>Rating: <%= review.rating %></p>
          <p><%= review.explanation %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
