<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("3-slim.png", :width => 150, class:"imager2"), quests_path %>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <li>
          <a href="<%= quests_path %>">Dashboard</a>
      </li>
      <li>
          <a href="<%= completed_quest_path(current_user) %>">Completed Quests</a>
      </li>
      <li>
          <a href="<%= stats_quest_path(current_user) %>">Stats</a>
      </li>
      <li class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="optionsbutton" data-toggle="dropdown">Options <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation", id:"options"><%= link_to 'Edit Profile',edit_user_registration_path, id:"options" %></li>
          <li role="presentation" class="divider", id:"options"></li>
          <li role="presentation", id:"options"><%= link_to "Sign out", destroy_user_session_path, method: :delete, id:"options" %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-6">
    <div class="well well-sm">
      <h1>Your Stats</h1>
      <hr>
      <h3><strong>Number of Quests you've completed: </strong><%= @user.completedquests %></h3>
      <h3><strong>Number of Quests your currently working on: </strong><%= @user.activequests %></h3>
      <h3><strong>Total amount you've earned: $</strong><%= number_to_currency(@user.totalcollected) %></h3>
      <h3><strong>Number of Quests you've flagged: </strong><%= @user.numberofquestsflagged %></h3>
      <h3><strong>Number of reviews you've written: </strong><%= @user.numberofreviews %></h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well well-sm">
      <h1><strong>Your review percentage: </strong><%= @user.reviewpercentage %>%</h1>
    </div>
    <div class="well well-sm">
      <h1>Reviews of you</h1>
      <hr>
      <% @reviews.each do |review| %>
        <div class="row">
          <div class="col-md-5">
            <h3><strong>Rating: </strong><%= review.rating %></h3>
            <h4><strong>Title: </strong><%= review.title %></h4>
          </div>
          <div class="col-md-7">
            <p><%= review.explanation %></p>
          </div>
        </div>
        <hr>
      <% end %>
